html {
    scroll-behavior: smooth;
}

.homerow {
    height: calc(100vh - 70px);
    padding: 0;
}

.homerow .img {
    background-image: url("../assets/moto.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.homerow .homerow__content {
    background-color: rgba(100, 100, 100, 0.548);
    height: 100%;
    width: 100%;
}

.homerow__content__title {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.borderless {
    border-width: 0px;

}

.card_img_size {
    height: 130px;
}



.card_txt_max_height {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative; 
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 130px; 
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: center;  
    /* place for '...' */
    font-size: 0.7rem;
    margin-right: -1em;
    padding-right: 1em;
  }
  /* create the ... */
  .card_txt_max_height:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
  }
  /* hide ... if we have text, which is less than or equal to max lines */
.card_txt_max_height:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
}

.card_align-txt {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    justify-content: space-between
}

.testimonial-box img {
    display: inline-block;
    width: 90px;
    height:90px;
    border-radius: 50%;
    margin: 0 0 15px;
}
.testimonial-box h4 {
    color: inherit; /*takes the color of the parent*/
}
.testimonial-box p {
    margin-bottom: 20px;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
}


.container {
    text-align: center;
}

.container-reviews {
    background-color:#545956;
   color: white;
}

.review-title {
    padding: 60px;
}

.header-container {
    background-color: white;
    margin-bottom: 0%;
}

.our-partners-title {
padding: 0;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 35px;
    width: 35px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 85%, 80%;
    border-radius: 50%;
    border: 0cm;
}



.w-100 {
    width: 30%;
}

.footer {
    width: 100%;
    height: auto;
    margin: auto;
    background: #212529;
    padding: 20px 100px;
    color:darkgray;
    text-align: center;
}

/*Floating Back-To-Top Button*/
.myBtn {
    position: fixed;
    bottom: 60px;
    float: right;
    right: 10%;
    left: 90%;
    color: darkgray;
    font-size: 70px;
    border-color: transparent;
    background-color: transparent;
   
}
a {
    color: darkgray;
    text-decoration: none;
    background-color: transparent;
}

/*On Hover Color Change*/
.myBtn:hover {
    background-color: transparent;
    color: grey;
    border-color: transparent;
}

.section {
    height: 100vh !important;
}